.post-list {
  li {
    text-align: center;
    width: 48%;
    display: inline-block;
    vertical-align: top;
    min-height: 300px;
    img {
      height: 200px;
    }
  }
}

@include media-query($on-palm){
  .post-list {
    li {
      text-align: initial;
      width: 100%;
      .post-meta {
        @include relative-font-size(1.2);
      }
      .post-link{
        @include relative-font-size(1.75);
      }
      img {
        height: initial;
        width: initial;
      }
    }
  }
}
