@import './animations.scss';

* {
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}


/* 
 * HOMEPAGE
*/
.home,
.post-list {
  text-align: center;
}

.home h1 {
  @include slide-up-start;
  @include slide-up;
}

.site-title,
.site-nav .page-link {
  transition: color 0.15s ease-out;
}

.site-title:hover,
.site-nav .page-link:hover {
  color: $grey-color;
}

.site-title {
  letter-spacing: 0.15em;
}

.site-nav .page-link {
  letter-spacing: 0.1em;
}

.post-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > * {
    @include n-items-slide-up;
  }

  li {
    width: 50%;
    display: inline-block;
    min-height: 300px;
    padding-left: 5px;

    img {
      height: 200px;
    }

    &:hover {
      background-color: $grey-color-light;
    }

    transition: background-color 0.15s linear;
  }
}

.post-link h2 {
  font-size: inherit;
}

@include media-query($on-palm){
  .post-list {
    li {
      width: 100%;
      .post-meta {
        @include relative-font-size(1.2);
      }
      .post-link{
        @include relative-font-size(1.75);
      }
      img {
        height: initial;
        width: initial;
      }
    }
  }
}

/* 
 * ABOUT PAGE
*/

.post.about-me .post-content > *:nth-child(1) {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;

  @include media-query($on-palm) {
    float: none;
    margin-right: 0;
  }
}


/* 
 * PAGE LAYOUT
*/

.post .post-header {
  @include slide-up-start;
  @include slide-up;
}

.post .post-content {
  > * {
    @include n-items-slide-up;
  }
}

/* 
 * FOOTER
*/

.site-footer {
  @include slide-in-right-start;
  @include slide-in-right(2.0s);
}

.site-footer .footer-col-wrapper {
  > * {
    @include n-items-pop-in(5, 0.25, 2.75);
  }
}